<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HarfBuzzSharp" version="2.6.1.7" targetFramework="xamarinmac20" />
  <package id="SkiaSharp" version="2.80.3" targetFramework="xamarinmac20" />
  <package id="SkiaSharp.HarfBuzz" version="2.80.2" targetFramework="xamarinmac20" />
  <package id="SkiaSharp.Views" version="2.80.3" targetFramework="xamarinmac20" />
  <package id="SkiaSharp.Views.Forms" version="2.80.3" targetFramework="xamarinmac20" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="xamarinmac20" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="xamarinmac20" />
  <package id="Topten.RichTextKit" version="0.4.151" targetFramework="xamarinmac20" />
  <package id="Xamarin.CommunityToolkit" version="2.0.0" targetFramework="xamarinmac20" />
  <package id="Xamarin.Essentials" version="1.7.1" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms" version="5.0.0.2337" targetFramework="xamarinmac20" />
</packages>